<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Проект-&quot;Исследование-надежности-заемщиков&quot;" data-toc-modified-id="Проект-&quot;Исследование-надежности-заемщиков&quot;-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Проект "Исследование надежности заемщиков"</a></span></li><li><span><a href="#Цели-проекта-&quot;Исследование-надежности-заемщиков&quot;" data-toc-modified-id="Цели-проекта-&quot;Исследование-надежности-заемщиков&quot;-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Цели проекта "Исследование надежности заемщиков"</a></span></li><li><span><a href="#Import" data-toc-modified-id="Import-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Import</a></span></li><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Загрузка данных</a></span><ul class="toc-item"><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Обработка-пропусков-и-аномалий" data-toc-modified-id="Обработка-пропусков-и-аномалий-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Обработка пропусков и аномалий</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-4.1.4"><span class="toc-item-num">4.1.4&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li></ul></li><li><span><a href="#Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?&quot;" data-toc-modified-id="Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?&quot;-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Есть ли зависимость между количеством детей и возвратом кредита в срок?"</a></span></li><li><span><a href="#Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок?</a></span></li><li><span><a href="#Возможные-причины-появления-пропусков-в-исходных-данных" data-toc-modified-id="Возможные-причины-появления-пропусков-в-исходных-данных-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Возможные причины появления пропусков в исходных данных</a></span></li><li><span><a href="#Итоговый-вывод:" data-toc-modified-id="Итоговый-вывод:-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Итоговый вывод:</a></span></li></ul></div>

# Проект "Исследование надежности заемщиков"

# Цели проекта "Исследование надежности заемщиков"

1. Провести анализ и обработку исходных данных, включая выявление и исправление ошибок, а также заполнение пропущенных значений.

2. Исследовать зависимость между различными параметрами клиентов и вероятностью возврата кредита.

3. Оценить влияние количества детей, семейного положения, уровня дохода и цели кредита на вероятность возврата кредита.

4. Построить модель, предсказывающую вероятность возврата кредита для новых клиентов на основе анализа данных.

5. Сформулировать рекомендации для банка по улучшению процесса принятия решения о выдаче кредитов и снижению рисков.

6. Подготовить итоговый отчет, включающий в себя аналитический обзор, выводы и рекомендации на основе проведенного исследования.

Цели проекта направлены на повышение надежности выдачи кредитов и снижение рисков для банка.

# Import

In [1]:
import pandas as pd

# Загрузка данных

In [4]:
try:
    data = pd.read_csv(r'C:/Users/Admin/Desktop/Яндек-проекты/Проект 2. Предобработка данных/task_csv/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [6]:
data.head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

In [7]:
data.tail(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Обработка пропусков и аномалий

In [9]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Заполняем медианным значением поле `total_income` среди всех записей с тем же типом

In [10]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

Исправим аномалию в поле `days_employed` с помощью метода `abs()`

In [11]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях

In [13]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) аномально высокие значения

Выведем перечень уникальных значений столбца `children`

In [14]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

 В столбце `children` есть два аномальных значения -1 и 20.
 
 
 Удалим строки, в которых встречаются такие аномальные значения из датафрейма

In [15]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [16]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

In [18]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [19]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [20]:
data['total_income'] = data['total_income'].astype(int)

C:\Users\Admin\AppData\Local\Temp/ipykernel_20292/1002644910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [21]:
data['education'] = data['education'].str.lower()

C:\Users\Admin\AppData\Local\Temp/ipykernel_20292/3990672150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['education'] = data['education'].str.lower()

In [22]:
data.duplicated().sum()

71

In [23]:
data = data.drop_duplicates()

### Категоризация данных

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`

In [24]:
#Функция для категориизации кредитополучателей
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [25]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

перечень уникальных целей взятия кредита из столбца purpose

In [26]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [28]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [29]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

# Есть ли зависимость между количеством детей и возвратом кредита в срок?"

In [30]:
children_pivot = data.pivot_table(index = ['children'], values = 'debt', aggfunc = ['count', 'sum', 'mean'])
children_pivot.columns = ['Заемщиков', 'Просрочек', 'Доля просрочек']
children_pivot.sort_values(by='Доля просрочек',ascending=True)

          Заемщиков  Просрочек  Доля просрочек
children
5                 9          0        0.000000
0             14091       1063        0.075438
3               330         27        0.081818
1              4808        444        0.092346
2              2052        194        0.094542
4                41          4        0.097561

**Вывод по анализу данных о количестве детей и вероятности возврата кредита:**

1. Для анализа использовались данные о заемщиках, включающие информацию о количестве детей и вероятности возврата кредита.

2. В ходе анализа были рассмотрены следующие категории заемщиков по количеству детей: 0, 1, 2, 3 и более 3 детей.

3. Наиболее вероятным для возврата кредита оказалось наличие 0 и 3 детей. Это может указывать на более стабильную финансовую ситуацию в этих категориях заемщиков.

4. Самыми рискованными категориями для возврата кредита оказались заемщики с 1 и 2 детьми. Возможно, это связано с дополнительными финансовыми обязательствами, которые могут повлиять на способность вернуть кредит.

5. Замечено, что для категорий заемщиков с более чем 3 детьми данные имеют ошибки или не представляют статистически значимую выборку. Вероятно, эти категории требуют дополнительной проверки и анализа.

# Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [32]:
data_pivot2 = data.pivot_table(index=['family_status'],  values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot2.columns=['Заемщиков', 'Просрочек', 'Доля просрочек']
display(data_pivot2.sort_values(by='Доля просрочек',ascending=True))

                       Заемщиков  Просрочек  Доля просрочек
family_status
вдовец / вдова               951         63        0.066246
в разводе                   1189         84        0.070648
женат / замужем            12261        927        0.075606
гражданский брак            4134        385        0.093130
Не женат / не замужем       2796        273        0.097639

**Вывод по анализу данных о зависимости между семейным положением и возвратом кредита в срок:**

1. Наиболее вероятен возврат в категории со статусом  вдовец- вдова;
2. Наименее вероятен возврат в категории со статусом не женат/не замужем.

# Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [33]:
data_pivot3 = data.pivot_table(index=['total_income_category'], values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot3.columns=['Заемщиков', 'Просрочек', 'Доля просрочек']
display(data_pivot3.sort_values(by='Доля просрочек',ascending=True))

                       Заемщиков  Просрочек  Доля просрочек
total_income_category
D                            349         21        0.060172
B                           5014        354        0.070602
A                             25          2        0.080000
C                          15921       1353        0.084982
E                             22          2        0.090909

**Вывод по анализу данных о зависимость между уровнем дохода и возвратом кредита в срок:**

1. Наиболее вероятен возврат кредита клиентом категории D,B,C.
2. Для категорий E и A наличие зависимости сомнительно из-за размеров выборки**

# Как разные цели кредита влияют на его возврат в срок?

In [34]:
data_pivot4 = data.pivot_table(index=['purpose_category'], values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot4.columns=['Заемщиков', 'Просрочек', 'Доля просрочек']
display(data_pivot4.sort_values(by='Доля просрочек',ascending=True))

                          Заемщиков  Просрочек  Доля просрочек
purpose_category
операции с недвижимостью      10751        780        0.072551
проведение свадьбы             2313        183        0.079118
получение образования          3988        369        0.092528
операции с автомобилем         4279        400        0.093480

**Вывод по анализу данных о влиянии цели кредита влияют на его возврат в срок:**

1. Наиболее вероятен возврат клиентом в категории операции с недвижимостью.
2. Наиболее вероятен возврат клиентом в категории автомобилем**

# Возможные причины появления пропусков в исходных данных

**O возможных причинах появления пропусков в исходных данных**

1. Ошибки распознования, ошибки пользователя, в общем случае- .
2. Ошибки распознования, ошибки пользователя, в общем случае- .
3. Ошибки при сборе данных (пользователь не знает, что указать)**


# Итоговый вывод:

1. **Дубликаты и пропуски:** В данных присутствуют явные дубликаты и пропуски.

2. **Отсутствие идентификации:** Отсутствует поле `user_id`, которое однозначно позволило бы идентифицировать клиента, например по номеру договора кредитования или паспорту.

3. **Поле `children`:** Необходимо изучить значения (возможны ошибки, например 20 детей, -1 и т.п.).

4. **Поле `days_employed`:** Проблемы с форматом даты и времени (отрицательные значения, формат поля int64).

5. **Поле `dob_years`:** Вычисляемое поле, формат целое число, требует проверки.

6. **Поле `education`:** Проблемы со стандартизацией (поле - комментарий), проблемы с дублями.

7. **Поле `gender`:** Неверный формат (object), можно заменить на 0 и 1 (тип bool).

8. **Поле `income_type`:** Необходимо добавить поле `income_type_id`.

9. **Поле `debt`:** Неверный формат (int64), можно заменить на 0 и 1 (тип bool).

10. **Поле `purpose`:** Необходима стандартизация, добавление поля `purpose_id`.

11. **Поле `family_status`:** Содержит 5 типов, можно упростить до 2 (женат/замужем, не женат/не замужем) и перевести в формат типа bool. Можно также ввести `gender_type_id` как логическую переменную.

12. **Поле `income_type`:** Необходима дополнительная классификация, так как клиенты могут иметь несколько свойств по данной классификации.

**Ответы на вопросы:**

1. Наиболее вероятен возврат кредита в категориях с количеством детей 0 и 3, наименее вероятен в категориях 1 и 2. Категории с количеством детей больше 3 имеют ошибки в данных.

2. Наиболее вероятен возврат кредита в категории со статусом "вдовец/вдова" (2), наименее вероятен в категории со статусом "не женат/не замужем" (4).

3. Наиболее вероятен возврат кредита в категориях B, C и D. Наименее вероятен в категории E.

4. Наиболее вероятен возврат кредита при операциях с недвижимостью и свадьбой. Наименее вероятен при операциях с автомобилем.

5. В целом, вероятность возврата кредита зависит от произведения вероятностей данных параметров. Однако, необходимо учитывать, что исходных данных недостаточно для полной оценки, и некоторые категории имеют маленькие размеры выборок, что может влиять на статистическую значимость результатов.